# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/autoconfig.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/build-aux
/libtool

# ignore m4 dir
m4/
.libs/

Makefile
*.o
*.la
*.lo
*~
*#
*?#
autoconfig.h
config.log
config.status
ncot
check_command
check_config
check_context
check_process
check_helper
check_ncot

.dirstamp
.deps
src/ncotd
src/tcpserver
src/tcpclient

tests/*log
tests/*trs
ncotd.pid
tests/ncotd1.pid
tests/check_node
tests/check_connection
tests/client
tests/server
check_packet
src/ncot.exe
src/cmdi
*.exe
tests/check_shell
tests/context_output.json
ncot_config.json
ncot.log
avatar.txt
docs/latex
docs/html
docs/doxyfile.stamp
docs/doxyfile.bak
docs/Doxyfile.bak
docs/Doxyfile
tests/check_policy
tests/test_policy.json
